{{ define "head" }}
<meta charset="utf-8" />
<title>Goldilocks - Embark</title>
<meta
  name="description"
  content='Get your resource requests "Just Right." An open source project by Fairwinds, customized for Embark.'
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<script src="{{ opts.BasePath }}static/js/theme.js?v=47"></script>

<link rel="icon" type="image/x-icon" href="{{ opts.BasePath }}static/images/favicon.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ opts.BasePath }}static/images/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ opts.BasePath }}static/images/favicon-16x16.png" />
<link rel="shortcut icon" href="{{ opts.BasePath }}static/images/favicon.ico" />

<link rel="stylesheet" href="{{ opts.BasePath }}static/css/font-muli.css" />
<link rel="stylesheet" href="{{ opts.BasePath }}static/css/reset.css" />
<link rel="stylesheet" href="{{ opts.BasePath }}static/css/utopia.css" />
<link rel="stylesheet" href="{{ opts.BasePath }}static/css/main.css?v=47" />
<link rel="stylesheet" href="{{ opts.BasePath }}static/css/fontawesome-5.7.2.css" />
<script src="{{ opts.BasePath }}static/js/main.js?v=47" type="module"></script>
{{ end }}
